.repo-box{
	border-color: #bbbbbb;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
}

.mirror-box{
	border-color: #bbbbbb;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
}

.additional-box{
	border-color: #bbbbbb;
	border-width: 1px;
	border-style: solid;
}
